.scrolling_caroussel_container {
    position: relative;
    background-color: rgb(0, 0, 0);
}

.scrolling_caroussel {
    z-index: 1;
    order: 2;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 22%;
    gap: 10px;
    padding: 10px;

    overflow-x: scroll;
    overscroll-behavior-inline: contain;
    scroll-snap-type: inline mandatory;
    scroll-padding-inline: 10px;
}

.scrolling_caroussel > * {
    scroll-snap-align: start;
}

.card {
    color: black;
    background-color: white;
}

.card figure{
    margin: 0;
    text-align: center;
}

.card img{
    width: 100%;
    object-fit: contain;
}

.caroussel_button {
    background-color: rgba(255, 255, 255, .5);
    border: none;
    border-radius: 5px;
    font-size: 2em;
    z-index: 2;
    position: absolute;
    top: 37.5%;
    height: 25%;
    width: 30px;
}

.caroussel_button:hover {
    background-color: rgba(255, 255, 255, .8);
}

.caroussel_button_prev {
    order: 3;
    left: 1%;
}

.caroussel_button_next {
    order: 3;
    right: 1%;
}

.puce {
    font-size: 3em;
    margin-left: 25%;
}

/* Redéfinition de certaines propriétés pour le Caroussel de la page2 */

#carousel_fullpage {
    grid-auto-columns: 95%;
}

#carousel_fullpage > * {
    scroll-snap-align: center;
}

#carousel_fullpage .card {
    aspect-ratio: 21/9;
    width: 100%;
    height: auto;
}

#carousel_fullpage .card figure {
    margin: auto;
}

#carousel_fullpage .card img {
    width: 15%;
}