.scrolling_caroussel_container {
    padding: 0;
    background-color: rgb(0, 0, 0);
}

.scrolling_caroussel {
    overflow-x: scroll;
    display: flex;
    flex-direction: row;
}

@media only screen and (hover) {
    .scrolling_caroussel::-webkit-scrollbar {
        width: 5px;
        height: 5px;
    }
    .scrolling_caroussel::-webkit-scrollbar-track {
        background: rgb(30, 30, 30);
    }
    .scrolling_caroussel::-webkit-scrollbar-thumb {
        background: rgb(160, 160, 160);
        border-radius: 5px;
    }
    .scrolling_caroussel::-webkit-scrollbar-thumb:hover {
        background: rgb(150, 150, 150);
    }
    .scrolling_caroussel::-webkit-scrollbar-thumb:active {
        background: rgb(100, 100, 100);
    }
    @supports(scrollbar-color: rgb(100, 100, 100) rgb(100, 100, 100)) {
        .scrolling_caroussel {
            scrollbar-color: rgb(160, 160, 160) rgb(30, 30, 30);
            scrollbar-width: thin;
        }
    }
}

.card {
    margin: 0 0 0 10px;
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
}

.card figure {
    margin: 0;
}

.card:last-child {
    margin-right: 10px;
}

.card img {
    width: 150px;
    height: auto;
}

.card figcaption {
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.8em;
    word-break: keep-all;
}