.container {
    position: relative;
    overflow-x: scroll;
    width: 100%;
    height: 300px;
    background-color: aqua;
    border: #111f30 solid 3px;
    display: flex;
    flex-direction: row;
}

.card{
    margin-left: 50px;
    background-color: blueviolet;
    background-image: url("https://picsum.photos/id/1081/600/400");
    min-width: 75%;
    min-height: 100%;
    height: auto;
    background-size: contain;
    background-repeat: no-repeat;
}