/* ******************** PARALLAX ******************** */


/* Application d'une image de fond au body */

#bg {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-image: url(../src/img/bg/dust.png), url(../src/img/bg/space1.png), url(../src/img/bg/dust2.png), url(../src/img/bg/space2.png);
    background-repeat: no-repeat;
    background-position: center;
}

/* Cadres de la page d'accueil */

.cadre_accueil{
    position: absolute;
    border: 3px solid;
    border-radius: 15px;
    text-align: center;
    font-weight: 600;
    color: rgb(0, 0, 0);

    border-color: rgba(225, 225, 225,0.8);
    background-color: rgba(13,53,174,0.5);
}

.cadre_accueil p{
    padding: 0 5px;
}

#cadre_accueil1{
    bottom: 10%;
}


#cadre_accueil2{
    top: 10%;
}


/* Comportement de la parallax réactive aux dimensions de la fenêtre*/

@media (min-aspect-ratio: 1/1) {
    @media (min-aspect-ratio: 1920/1080) {
        #bg {
            background-size: 110% auto;
        }
    }
    @media (max-aspect-ratio: 1920/1080) {
        #bg {
            background-size: auto 110%;
        }
    }
    @media (aspect-ratio: 1920/1080) {
        #bg {
            background-size: 110% 110%;
        }
    }

    .cadre_accueil{
        width: 25%;
    }

    #cadre_accueil1{
        right: 8%;
        background: linear-gradient(115deg, rgba(255,255,255,0.5) 0%, rgba(13,53,174,0.5) 100%);
    } 


    #cadre_accueil2{
        left: 8%;
        background: linear-gradient(335deg, rgba(255,255,255,0.5) 0%, rgba(13,53,174,0.5) 100%);
    }

    a.button{
        bottom: 5px;
    }
}


/* Rotation du bg si la largeur devient trop petite*/

@media (max-aspect-ratio: 1/1) {
    #bg {
        background-image: url(../src/img/bg/dust-alt.png), url(../src/img/bg/space1-alt.png), url(../src/img/bg/dust2-alt.png), url(../src/img/bg/space2-alt.png);
    }
    @media (min-aspect-ratio: 1080/1920) {
        #bg {
            background-size: 110% auto;
        }
    }
    @media (max-aspect-ratio: 1080/1920) {
        #bg {
            background-size: auto 110%;
        }
    }
    @media (aspect-ratio: 1080/1920) {
        #bg {
            background-size: 110% 110%;
        }
    }

    .cadre_accueil{
        width: 50%;
        min-height: 15%;
    }

    #cadre_accueil1{
        left: 8%;
        background: linear-gradient(225deg, rgba(255,255,255,0.5) 0%, rgba(13,53,174,0.5) 100%);
    } 


    #cadre_accueil2{
        right: 8%;
        background: linear-gradient(45deg, rgba(255,255,255,0.5) 0%, rgba(13,53,174,0.5) 100%);
    }

    a.button{
        bottom: 5px;
    }
}