/* ******************** GENERAL ******************** */

html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    background-color: #333;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-image: url(../src/img/bg/fond_rl_site.webp);
    background-attachment:fixed;
}

header {
    display: block;
    order: 2;
    margin: auto;
    width: 80%;
}

header img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 200px;
    bottom: 0;
}

main {
    display: block;
    order: 3;
    background-color: rgb(247, 244, 244);
    padding-bottom: 50px;
    max-width: 60%;
    margin: auto;
    border-radius: 8px;
}

article {
    width: 90%;
    margin: auto;
    padding: 10px 0px;
}

footer {
    order: 4;
    text-align: center;
    padding: 10px;
    color: rgb(252, 252, 252);
}

iframe{
    width: 400px;
    height: 300px;
    border-radius: 5px;
}

#box{
text-align: center;
margin: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #1b1b1b;
    margin: 10px 5px 5px 5px;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 3em;
}

h3 {
    font-size: 3em;
}

h4 {
    font-size: 2.5em;
}

h5 {
    font-size: 2em;
}

h6 {
    font-size: 1.5em;
}

.p-content {
    text-align: justify;
    font-size: 25px;
}

.article-img_container {
    width: 100%;
    margin: auto;
    text-align: center;
}

.article-img_container img {
    width: 75%;
    height: auto;
}

.article-img_container figcaption {
    font-style: italic;
    font-size: 1em;
}

#plt{
    width: 95%;
}


@media only screen and (max-width: 768px) {
    header {
        width: 100%;
        max-width: 100%;
    }
    /* Le contenue fait toute la largeur de la page*/
    main {
        background-color: rgb(247, 244, 244);
        margin: auto;
        max-width: 100%;
    }
}


/* ******************** Table des teams ******************** */

#container_table-teams {
    height: 400px;
    margin: 20px;
    width: auto;
    overflow: auto;
}

#table-eSport_teams {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

#table-eSport_teams img {
    max-height: 50px;
    width: auto;
}

#table-eSport_teams td,
#table-eSport_teams th {
    border: 1px solid #ddd;
    padding: 8px;
}

.pair {
    background-color: rgb(255, 255, 255);
}

.pair:hover {
    background-color: rgb(245, 245, 245);
}

.impair {
    background-color: rgb(235, 235, 235);
}

.impair:hover {
    background-color: rgb(225, 225, 225);
}

#table-eSport_teams th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #000000;
    color: white;
}

#table-eSport_teams th:hover {
    cursor: pointer;
    background-color: #1d1d1d;
}


/* ******************** Scrollbar ******************** */

@media only screen and (hover) {
     ::-webkit-scrollbar {
        width: 10px;
        height: 10px;
    }
     ::-webkit-scrollbar-track {
        background: rgb(30, 30, 30);
        border-radius: 10px;
    }
     ::-webkit-scrollbar-thumb {
        background: rgb(160, 160, 160);
        border-radius: 10px;
    }
     ::-webkit-scrollbar-thumb:hover {
        background: rgb(150, 150, 150);
    }
     ::-webkit-scrollbar-thumb:active {
        background: rgb(100, 100, 100);
    }
    @supports(scrollbar-color: rgb(100, 100, 100) rgb(100, 100, 100)) {
        * {
            scrollbar-color: rgb(160, 160, 160) rgb(30, 30, 30);
            scrollbar-width: auto;
        }
    }
}

#puce {
    font-size: 0.85em;
}

/* Table des Matieres*/

aside {
    z-index: 10;
    background-color: aqua;
    transform: translateY(-50%);
    position: fixed;
    top: 50%;
    max-width: 20%;
}

.toc_title {
    font-weight: 700;
    text-align: center;
}

#toc_container li, #toc_container ul, #toc_container ul li{
    list-style: outside none none !important;
}

#hamburger_icon {
    z-index: 10;
    position: fixed;
    top: -100%;
    font-size: 2em;
}

@media only screen and (max-width: 768px) {
    #hamburger_icon {
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        transition: left 0.5s;
    }
    #hamburger_icon.open {
        left: 250px;
        transition: left 0.5s;
    }

    aside {
        left: -100%;
    }

    #toc_container {
        content: "&#8250;";
        left: -250px;
        max-width: inherit;
        width: 250px;
        transition: left 0.5s;
    }
    #toc_container.open {
        content: "&#8249;";
        left: 0;
        transition: left 0.5s;
    }
}