/* ******************** GENERAL ******************** */

html {
    height: 100%;
}

body {
    background-color: #333;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: rgb(20, 20, 20);
}

button {
    color: rgba(0, 0, 0, 0.5);
    background-color: rgba(255, 255, 255, 0.5);
    border: rgba(0, 0, 0, 0.5) solid 1px;
    border-radius: 15px;
    padding: 15px 15px;
    font-size: 1.5em;
    text-transform: uppercase;
}

button:hover {
    color: rgba(0, 0, 0, 1);
    background-color: rgba(255, 255, 255, 1);
    border: rgba(0, 0, 0, 0.5) solid 1px;
    border-radius: 15px;
    padding: 15px 15px;
    font-size: 1.5em;
    text-transform: uppercase;
    cursor: pointer;
}


/* ******************** PARALLAX ******************** */


/* Application d'une image de fond au body */

#bg {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-image: url(src/img/dust.png), url(src/img/space1.png), url(src/img/dust2.png), url(src/img/space2.png);
    background-repeat: no-repeat;
    background-position: center;
}


/* Comportement de la parallax réactive aux dimensions de la fenêtre*/

@media (min-aspect-ratio: 1/1) {
    @media (min-aspect-ratio: 1920/1080) {
        #bg {
            background-size: 110% auto;
        }
    }
    @media (max-aspect-ratio: 1920/1080) {
        #bg {
            background-size: auto 110%;
        }
    }
    @media (aspect-ratio: 1920/1080) {
        #bg {
            background-size: 110% 110%;
        }
    }
}


/* Rotation du bg si la largeur devient trop petite*/

@media (max-aspect-ratio: 1/1) {
    #bg {
        background-image: url(src/img/dust-alt.png), url(src/img/space1-alt.png), url(src/img/dust2-alt.png), url(src/img/space2-alt.png);
    }
    @media (min-aspect-ratio: 1080/1920) {
        #bg {
            background-size: 110% auto;
        }
    }
    @media (max-aspect-ratio: 1080/1920) {
        #bg {
            background-size: auto 110%;
        }
    }
    @media (aspect-ratio: 1080/1920) {
        #bg {
            background-size: 110% 110%;
        }
    }
}


/* ******************** PAGE D'ACCUEIL ******************** */

#welcome {
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-family: "Arial";
    text-transform: uppercase;
    text-shadow: 3px 3px 8px #333;
    opacity: .7;
    font-size: 1em;
}


/* ******************** NAV BAR ******************** */

.topnav {
    background-color: rgba(51, 51, 51, 0.5);
    display: flex;
    align-items: center;
    width: 100%;
}

.topnav_link {
    color: rgba(255, 255, 255, .5);
    padding: 12px;
    text-decoration: none;
}

.topnav_link:hover {
    color: rgba(255, 255, 255, 1);
    opacity: 1.0;
}

#home_link {
    margin-left: 10%;
}

#topnav_hamburger_icon,
#topnav_responsive_menu {
    display: none;
}


/* ******************** CONTENT ******************** */

#content_header {
    margin: auto;
    max-width: 80%;
    min-height: 200px;
}

.content_header_img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 200px;
}

#content {
    background-color: gray;
    margin: auto;
    max-width: 60%;
    min-height: 100%;
}

.content_img {
    width: 90%;
    margin: 5px 5%;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: rgba(0, 0, 0, 0.2);
    border: rgba(0, 0, 0, 0.5) solid 1px;
    border-radius: 15px;
    padding: 5px 10px;
}


/* ******************** FOOTER ******************** */

.footer_container {
    text-align: center;
    padding: 10px;
    color: white;
}


/* ******************** REACTIVE ******************** */

@media only screen and (max-width: 768px) {
    #content_header {
        max-width: 100%;
        max-height: 200px;
        width: 100%;
    }
    /* Le contenue fait toute la largeur de la page*/
    #content {
        background-color: gray;
        margin: auto;
        max-width: 100%;
        width: 100%;
        min-height: 100%;
    }
    /* hide classic menu */
    #topnav_menu {
        display: none;
    }
    /* position home link at left and hamburger at right */
    #home_link {
        margin-left: 0;
        flex-grow: 1;
    }
    /* disable horizontal scrolling  */
    #root {
        position: relative;
        overflow-x: hidden;
        overflow-y: hidden;
    }
    /* show responsive menu and position at the right of the screen */
    #topnav_responsive_menu {
        display: block;
        position: absolute;
        margin: 0;
        right: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
        z-index: 99;
        transform-origin: 0% 0%;
        transform: translate(200%, 0);
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    }
    #topnav_responsive_menu ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        margin: 0;
        right: 0;
        top: 0;
        min-width: 50vw;
        height: 100vh;
        padding: 56px 0 0;
        text-align: center;
        background: #ededed;
        list-style-type: none;
        -webkit-font-smoothing: antialiased;
    }
    #topnav_responsive_menu li {
        padding: 12px 24px;
    }
    #topnav_responsive_menu a {
        white-space: nowrap;
        color: #333;
        text-decoration: none;
    }
    /* And let's slide it in from the right */
    #topnav_responsive_menu.open {
        transform: none;
        position: fixed;
    }
    /* ******************** HAMBURGER ICON ******************** */
    /* define size and position of the hamburger link */
    #topnav_hamburger_icon {
        display: block;
        position: relative;
        margin: 16px;
        width: 33px;
        height: 28px;
        z-index: 100;
        -webkit-user-select: none;
        user-select: none;
        cursor: pointer;
    }
    /* define the style (size, color, position, animation, ...) of the 3 spans */
    #topnav_hamburger_icon span {
        display: block;
        position: absolute;
        height: 4px;
        width: 100%;
        margin-bottom: 5px;
        background: #ededed;
        border-radius: 3px;
        z-index: 100;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: 0.25s ease-in-out;
        -moz-transition: 0.25s ease-in-out;
        -o-transition: 0.25s ease-in-out;
        transition: 0.25s ease-in-out;
    }
    /* set the 3 spans position to look like a hamburger */
    #topnav_hamburger_icon span:nth-child(1) {
        top: 0px;
        -webkit-transform-origin: left top;
        -moz-transform-origin: left top;
        -o-transform-origin: left top;
        transform-origin: left top;
    }
    #topnav_hamburger_icon span:nth-child(2) {
        top: 12px;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
    }
    #topnav_hamburger_icon span:nth-child(3) {
        top: 24px;
        -webkit-transform-origin: left bottom;
        -moz-transform-origin: left bottom;
        -o-transform-origin: left bottom;
        transform-origin: left bottom;
    }
    /* change color when opening the menu */
    #topnav_hamburger_icon.open span {
        background: #333;
    }
    /* the first span rotates 45° \ */
    #topnav_hamburger_icon.open span:nth-child(1) {
        width: 110%;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    /* the second span disappears */
    #topnav_hamburger_icon.open span:nth-child(2) {
        width: 0%;
        opacity: 0;
    }
    /* the last span rotates -45° / */
    #topnav_hamburger_icon.open span:nth-child(3) {
        width: 110%;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
}