/* ******************** GENERAL ******************** */

@import url('https://cdn.jsdelivr.net/npm/normalize.css@8.0.1/normalize.css');
@import url('formulaire.css');
@import url('fonts.css');
:root {
    --theme-color-1: 255, 255, 255;
    --theme-color-2: 255, 255, 255;
    --theme-color-3: 255, 255, 255;
    --txt-color: 34, 34, 34;
    --txt-color-alt: 247, 244, 244;
    --tbl-even: 255, 255, 255;
    --tbl-even-hover: 245, 245, 245;
    --tbl-odd: 235, 235, 235;
    --tbl-odd-hover: 225, 225, 225;
    --tbl-header: 0, 0, 0;
    --tbl-header-hover: 29, 29, 29;
}

html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    background-color: rgb(var(--theme-color-1));
    font-family: 'Jost', Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(var(--txt-color));
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-image: url(../src/img/bg/circuit.gif);
    background-attachment: fixed;
}


/*
#background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}
*/

header {
    display: block;
    order: 2;
    margin: auto;
    width: 80%;
}

header img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 200px;
    bottom: 0;
    border-radius: 5px;
}

main {
    display: block;
    order: 3;
    background-color: rgb(var(--theme-color-1));
    padding-bottom: 50px;
    max-width: 60%;
    margin: auto;
    border: solid 2px black;
    border-radius: 8px;
}

article {
    width: 90%;
    margin: auto;
    padding: 10px 0px;
}

footer {
    order: 4;
    text-align: center;
    padding: 10px;
    color: rgb(var(--txt-color-alt));
}

iframe {
    width: 80%;
    height: auto;
    aspect-ratio: 16/9;
    border-radius: 5px;
}

#box {
    text-align: center;
    margin: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Jost', Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
    color: rgb(var(--txt-color));
    margin: 10px 5px 5px 5px;
    word-wrap: break-word;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1em;
}

h4 {
    font-size: 0.75em;
}

h5 {
    font-size: 0.5em;
}

h6 {
    font-size: 0.25em;
}


/* ******************** Style par défaut des boutons ******************** */

button,
.button {
    background-color: rgba(var(--theme-color-1), .7);
    border: 1px solid #222222;
    color: rgb(var(--txt-color));
    border-radius: 8px;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    margin: 0;
    outline: none;
    padding: 13px 23px;
    position: relative;
    text-align: center;
    text-decoration: none;
    touch-action: manipulation;
    transition: box-shadow .2s, transform .1s;
    user-select: none;
    width: auto;
}

button:hover,
.button:hover {
    background-color: rgba(var(--theme-color-1), 0.8);
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

button:focus-visible,
.button:focus-visible {
    box-shadow: #222222 0 0 0 2px, rgba(var(--theme-color-1), 0.8) 0 0 0 4px;
    transition: box-shadow .2s;
}

button:visited,
.button:visited {
    color: black;
    text-decoration: none;
}

button:active,
.button:active {
    background-color: rgb(var(--theme-color-1));
    border-color: #000000;
    transform: scale(.96);
}

button:disabled,
.button:disabled {
    border-color: rgb(var(--theme-color-1));
    color: rgb(var(--theme-color-1));
    cursor: not-allowed;
    opacity: 1;
}

.p-content {
    text-align: justify;
    font-size: 1em;
}

.article-img_container {
    width: 100%;
    margin: auto;
    text-align: center;
}

.article-img_container img {
    width: 75%;
    height: auto;
}

.article-img_container figcaption {
    font-style: italic;
    font-size: 1em;
}

#plateform-img {
    width: 95%;
}

@media only screen and (max-width: 768px) {
    header {
        width: 100%;
        max-width: 100%;
    }
    /* Le contenue fait toute la largeur de la page*/
    main {
        background-color: rgb(var(--theme-color-1));
        margin: auto;
        max-width: 100%;
    }
}


/* ******************** Table des teams ******************** */

#container_table-teams {
    height: 400px;
    margin: 20px;
    width: auto;
    overflow: auto;
}

#table-eSport_teams {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

#table-eSport_teams img {
    max-height: 50px;
    width: auto;
}

#table-eSport_teams td,
#table-eSport_teams th {
    border: 1px solid #ddd;
    padding: 8px;
}

#table-eSport_teams th {
    position: sticky;
    top: 0;
}

.pair {
    background-color: rgb(var(--tbl-even));
}

.pair:hover {
    background-color: rgb(var(--btn-even-hover));
}

.impair {
    background-color: rgb(var(--tbl-odd));
}

.impair:hover {
    background-color: rgb(var(--tbl-odd-hover));
}

#table-eSport_teams th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: rgb(var(--tbl-header));
    color: white;
}

#table-eSport_teams th:hover {
    cursor: pointer;
    background-color: rgb(var(--tbl-header-hover));
}


/* ******************** Scrollbar ******************** */

@media only screen and (hover) {
     ::-webkit-scrollbar {
        width: 10px;
        height: 10px;
        background-color: rgb(30, 30, 30);
    }
     ::-webkit-scrollbar-track {
        background: rgb(30, 30, 30);
        border-radius: 10px;
    }
     ::-webkit-scrollbar-thumb {
        background: rgb(160, 160, 160);
        border-radius: 10px;
    }
     ::-webkit-scrollbar-thumb:hover {
        background: rgb(150, 150, 150);
    }
     ::-webkit-scrollbar-thumb:active {
        background: rgb(100, 100, 100);
    }
    @supports(scrollbar-color: rgb(100,
    100,
    100) rgb(100,
    100,
    100)) {
        * {
            scrollbar-color: rgb(160, 160, 160) rgb(30, 30, 30);
            scrollbar-width: auto;
        }
    }
}


/* Table des Matieres*/

#toc_container {
    background-color: white;
    border: solid black 2px;
    border-radius: 5px;
    justify-content: center;
    z-index: 10;
    top: 50%;
    left: 10%;
    transform: translate(-50%, -50%);
    position: fixed;
    width: 17%;
    padding: 10px 0;
    transition: left 0.5s;
}

#toc_title {
    font-size: 1em;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

#toc_list,
#toc_list ul {
    list-style: none;
    margin: 0 0 0 10px;
    padding: 2px 0 2px 7px;
}

#toc_container a {
    text-decoration: none;
    font-size: 1em;
    color: #000000;
}

#toc_container a:visited {
    color: #000000;
}

#show_aside_button {
    background-color: rgba(var(--theme-color-1), 0.7);
    border: solid black 1px;
    border-radius: 5px;
    font-size: 2em;
    z-index: 10;
    position: fixed;
    top: 50%;
    left: 0;
    transform: translate(-100%, -50%);
    transition: all 0.5s;
    font-size: 2em;
}

#show_aside_button:hover {
    background-color: rgba(var(--theme-color-1), 0.8);
}

#show_aside_button:active {
    background-color: rgba(var(--theme-color-1), 1.0);
}

.LoginForm_popup {
    visibility: hidden;
    opacity: 0;
    z-index: 100;
    position: fixed;
    top: 50%;
    left: 50%;
    max-width: 30rem;
    min-width: 25rem;
    transform: translate(-50%, -50%);
    transition: visibility 0s, opacity 0.5s;
}

.LoginForm_popup.appear {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity 0.5s;
}

@media only screen and (max-width: 768px) {
    #show_aside_button {
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        transition: all 0.5s;
    }
    #show_aside_button.open {
        left: 200px;
        transition: left 0.5s;
    }
    aside {
        left: -100%;
    }
    #toc_container {
        content: "&#8250;";
        left: -205px;
        max-width: inherit;
        min-width: 200px;
        transform: translate(0, -50%);
        transition: left 0.5s;
    }
    #toc_container.open {
        content: "&#8249;";
        left: -5px;
        transition: left 0.5s;
    }
    .LoginForm_popup {
        max-width: 20rem;
        min-width: 10rem;
    }
}

.overlay {
    position: fixed;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.19);
    z-index: 50;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.overlay_visible {
    visibility: visible;
    background-color: rgba(0, 0, 0, .5);
}


/* chat */

#chat {
    display: grid;
    grid-auto-flow: row;
    row-gap: 0;
    width: 40%;
    height: 80%;
    margin: auto;
    padding: 10px;
}

@media only screen and (max-width: 768px) {
    /* Le contenue fait toute la largeur de la page*/
    #chat {
        background-color: rgb(var(--theme-color-1));
        margin: 10%;
        width: 100%;
    }
}

#chatbox {
    overflow-y: auto;
    min-height: 100%;
    border: 1px solid black;
}

#chat_form {
    flex-direction: row;
    background-color: rgba(var(--theme-color-1), 1.0);
    border: none;
    width: 100%;
    column-gap: 5px;
}

#chat_form * {
    height: 3em;
}

#usermsg {
    width: 100%;
    border: 3px solid #363a3b;
    border-radius: 10px;
}

#chat_form {
    height: 50%;
}


/*
#chatbox {
    text-align: left;
    padding: 10px;
    background: #fff;
    height: fit-content;
    margin: auto;
    width: 85%;
    border: 1px solid #363a3b;
    border-radius: 10px;
    overflow: auto;
}

#usermsg {
    width: 100%;
    border: 3px solid #363a3b;
    border-radius: 10px;
}

#chat_form {
    margin-bottom: 25px;
    height: 3em;
}
*/